<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </div>
  <div class="field toolbar">
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => 'wysihtml5-textarea' %>
  </div>
  <div class =field">
    <%= f.label :image_loc %>
    <%= f.text_field :image_loc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  <%= render 'wysihtml5/initialize.js.erb' %>
</script>