<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @news.heading %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @news.user_id %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@news.user_id).email %>

</p>

<p>
  <strong>Image_loc:</strong>
  <%= @news.image_loc %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
