<h1>Listing units</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Avatar</th>
      <th>Name</th>
      <th>Rarity</th>
      <th>Element</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.no %></td>
        <td><%= image_tag (unit.avatar) %></td>
        <td><%= link_to unit.name, unit %></td>
        <td><%= unit.rarity_id.to_s %> <i class='icon-star'></i></td>
        <td><%= image_tag (unit.elements) %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
