<h1>Listing units</h1>

<%= form_tag units_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="filters">
  <%= render 'element_filter' %>
</div>

<div class = 'unit_list_container'>
  <%= render 'units' %>
</div>
<br>

<%= link_to 'New Unit', new_unit_path %>