%div.units
  %h1 Listing units

  %table
    %thead
      %tr
        %th Img
        %th Unit #
        %th Name
        %th Actions

    %tbody
      - @units.each do |unit|
        %tr
          %td
            = image_tag unit.thumb_image_loc, class: 'thumb_unit'
          %td
            = unit.no
          %td
            = unit.name
          %td
            = link_to 'Show', unit
            = link_to 'Edit', edit_unit_path(unit)
            = link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Unit', new_unit_path
