

<p id="notice"><%= notice %></p>

<p class="left">
  <strong>Real Name:</strong>
  <%= image_tag @unit.full_image %>
</p>

<p>
  <strong>Real Name:</strong>
  <%= @unit.realname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>No:</strong>
  <%= @unit.no %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @unit.cost %>
</p>

<p>
  <strong>Max Level:</strong>
  <%= @unit.max_lvl %>
</p>


<p>
  <strong>Element:</strong>
  <%= image_tag(@unit.elements, class:'elements-small') %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @unit.rarity_id %> <i class='icon-star'></i>
</p>

<p>
  <strong>Hp:</strong>
  <%= @unit.base_hp %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @unit.base_atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @unit.base_def %>
</p>

<p>
  <strong>Rec:</strong>
  <%= @unit.base_rec %>
</p>

<p>
  <strong>Leader skill:</strong>
  <%= @unit.ls_id %>
</p>

<p>
  <strong>Brave burst:</strong>
  <%- if @unit.bb_id
        bb = BraveBurst.find(@unit.bb_id)
  %>
  <%= link_to bb.name, brave_burst_path(bb.slug) %>
  <%- end %>
</p>

<p>
  <strong>Numhits:</strong>
  <%= @unit.numhits %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
