

<p id="notice"><%= notice %></p>

<p class="left">
  <strong>Real Name:</strong>
  <%= image_tag @unit.full_image %>
</p>

<p>
  <strong>Real Name:</strong>
  <%= @unit.realname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>No:</strong>
  <%= @unit.no %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @unit.cost %>
</p>

<p>
  <strong>Max Level:</strong>
  <%= @unit.max_lvl %>
</p>


<p>
  <strong>Element:</strong>
  <%= image_tag(@unit.elements, class:'elements-small') %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @unit.rarity_id %> <i class='icon-star'></i>
</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>HP</th>
      <th>Atk</th>
      <th>Def</th>
      <th>Rec</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td>Lord</td>
      <td><%=@unit.base_hp%></td>
      <td><%=@unit.base_atk%></td>
      <td><%=@unit.base_def%></td>
      <td><%=@unit.base_rec%></td>
    </tr>
    <tr>
      <td>Anima</td>
      <td class="green"><%=@unit.a_hp%></td>
      <td><%=@unit.base_atk%></td>
      <td><%=@unit.base_def%></td>
      <td class="red"><%=@unit.a_rec%></td>
    </tr>
    <tr>
      <td>Breaker</td>
      <td><%=@unit.base_hp%></td>
      <td class="green"><%=@unit.b_atk%></td>
      <td class="red"><%=@unit.b_def%></td>
      <td><%=@unit.base_rec%></td>
    </tr>
    <tr>
      <td>Guardian</td>
      <td><%=@unit.base_hp%></td>
      <td class="red"><%=@unit.g_atk%></td>
      <td class="green"><%=@unit.g_def%></td>
      <td><%=@unit.base_rec%></td>
    </tr>
    <tr>
      <td>Oracle</td>
      <td class="red"><%=@unit.o_hp%></td>
      <td><%=@unit.base_atk%></td>
      <td><%=@unit.base_def%></td>
      <td class="green"><%=@unit.a_rec%></td>
    </tr>
  </tbody>
</table>

<p>
  <strong>Leader skill:</strong>
  <%= @unit.ls_id %>
</p>

<p>
  <strong>Brave burst:</strong>
  <%-
      if @unit.bb_id
        bb = BraveBurst.find(@unit.bb_id) %>
  <%=   link_to bb.name, brave_burst_path(bb.slug) if bb %>
  <%- else %>
        "None"
  <%- end %>
</p>

<p>
  <strong>Numhits:</strong>
  <%= @unit.numhits %>
</p>

<p>
  <strong>Evolve Mats</strong>
  <%- @materials.each do |material| %>
    <%- unit = Unit.find_by_no(material.evolve_unit_no) %>
    <%= unit.name %>
    <%= link_to (image_tag (unit.avatar)), unit %>
  <%- end %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
