

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.prefix %> <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>No:</strong>
  <%= @unit.no %>
</p>

<p>
  <strong>Element:</strong>
  <div class="elements-small">
    <div class="<%= Element.get_element_class(@unit.element_id) %>"></div>
  </div>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @unit.rarity_id %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @unit.base_hp %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @unit.base_atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @unit.base_def %>
</p>

<p>
  <strong>Rec:</strong>
  <%= @unit.base_rec %>
</p>

<p>
  <strong>Leader skill:</strong>
  <%= @unit.ls_id %>
</p>

<p>
  <strong>Brave burst:</strong>
  <%= @unit.bb_id %>
</p>

<p>
  <strong>Numhits:</strong>
  <%= @unit.numhits %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
