<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_id %><br>
    <%= f.number_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :evolve_unit_id %><br>
    <%= f.number_field :evolve_unit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
