<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @guide.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @guide.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @guide.user_id %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @guide.approved %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
