<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <%= f.fields_for :profile_attributes do |pf| %>
  <div><%= pf.label :username %><br />
  <%= pf.text_field :username, :autocomplete => :off %></div>
  <%end%>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, title: '8 to 16 characters', pattern:'.{8,16}'  %></div>

  <div><%= f.label :password_confirmation%><br />
  <%= f.password_field :password_confirmation, title: '8 to 16 characters', pattern:'.{8,16}' %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
